<h1> A1 Fitness Workouts </h1>
<h4><em> Taking a Serious Stake in Your Fitness since 1831 </em></h4>
<br />
<fieldset>
<legend> Workouts created by people just like you! </legend>
<uL>
    <% @workouts.each do |workout| %> 
        <li> <%= link_to workout.name, workout_path(workout) %> </li>
    <% end %> 
</ul> 
</fieldset>

<h4>Filter Workouts:</h4>
    <%= form_tag("/workouts", method: "get") do %>
        <%= select_tag "user", options_from_collection_for_select(@users, "id", "username"), include_blank: true %>
        <%= submit_tag "Filter" %>
    <% end %>